.navbar-inner {
    min-height: 56px;
    padding-right: 20px;
    padding-left: 20px;
    background: #ECECEC !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 0px !important;
    filter: inherit !important;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}


.nav-collapse .nav li a {
    font: normal 14px Arial !important;
    padding: 20px 20px;
}

.divider-vertical {
    height: 56px !important;
}

.navbar .btn{
    margin-top:10px;
}

.navbar .btn-navbar{
    padding: 10px 13px;
}

.brand {
    padding-top:18px !important;
    padding-bottom: 18px !important;

}

.dropdown-menu li a {
    padding:10px !important;
}

h1 {
    margin-bottom:29px;
    margin-top:34px;
    
}
