<div style="font-family:Arial, Helvetica, sans-serif">
    <h1 style="font-size:24px;">Human Capital:</h1>
    <span>Un nuevo postulante ha enviado sus datos</span>
    <ul style="font-weight: bold;">
        <li>Nombre: </li>
        <li>Apellido: </li>
        <li>Email: </li>
        <li>Fecha de Nacimiento: </li>
        <li>Pais de Residencia: </li>
        <li>Ciudad de Residencia: </li>
        <li>Estudios: </li>
        <li>Nivel de ingles: </li>
        <li>Como supiste de nosotros : </li>
        <li>Disponibilidad: </li>
        <li>Disponibilidad para viajar: </li>
        <li>Areas de trabajo: </li>
        <li>Otros Datos: </li>
        <li>Remuneracion pretendida: </li>
    </ul>
    <span style="text-decoration:underline">
        Por favor encuentre el curriculum vitae adjunto
    </span>
    <br />
    <br />
    <span style="text-decoration:wavy">
        Este es un email generado automaticamente
    </span>
    <br />
    <br />
    <span style="text-decoration:wavy">
        Atentamente,
    </span>
    <br />
    <span style="text-decoration:wavy">
        La administracion.
    </span>
</div>