<div style="font-family:Calibri; color:#004d85">
    <h1 style="font-size:24px;">Human Capital:</h1>
    <span>Um novo requerente apresentou os seus dados</span>
    <ul>
        <li><span style="font-weight:bold">Nome e sobrenome:</span> {cv_name} {cv_lastname}</li>
        <li><span style="font-weight:bold">Email:</span> <a href="mailto:{cv_email}">{cv_email}</a></li>
        <li><span style="font-weight:bold">Data de nascimento:</span> {cv_dateofbirth}</li>
        <li><span style="font-weight:bold">País de residência:</span> {cv_country}</li>
        <li><span style="font-weight:bold">Cidade de residência:</span> {cv_city}</li>
        <li><span style="font-weight:bold">Estudos:</span>{cv_degree}</li>
        <li><span style="font-weight:bold">Nível de inglês:</span> {cv_english}</li>
        <li><span style="font-weight:bold">Como você ouviu sobre nós:</span> {cv_howto}</li>
        <li><span style="font-weight:bold">Disponibilidade:</span> {cv_availability}</li>
        <li><span style="font-weight:bold">Disponibilidade para viagens:</span> {cv_travel_disp}</li>
        <li><span style="font-weight:bold">Áreas de trabalho:</span> {cv_job_area}</li>
        <li><span style="font-weight:bold">Outras informações:</span> {cv_otherinfo}</li>
        <li><span style="font-weight:bold">Remuneração proposta:</span> {cv_salary}</li>
    </ul>
    <span style="text-decoration:underline">Por favor, encontrar o currículo anexado.</span>
    <br />
    <br />
    Este é um e-mail gerado automaticamente.
    <br />
    <br />
    Cumprimentos,
    <br />
    gA Jobs.
</div>