<div style="font-family:Calibri; color:#004d85">
    <h1 style="font-size:24px;">Human Capital:</h1>
    <span>Un nuevo postulante ha enviado sus datos</span>
    <ul>
        <li><span style="font-weight:bold">Nombre y Apellido:</span> {cv_name} {cv_lastname}</li>
        <li><span style="font-weight:bold">Email:</span> <a href="mailto:{cv_email}">{cv_email}</a></li>
        <li><span style="font-weight:bold">Fecha de Nacimiento:</span> {cv_dateofbirth}</li>
        <li><span style="font-weight:bold">Pais de Residencia:</span> {cv_country}</li>
        <li><span style="font-weight:bold">Ciudad de Residencia:</span> {cv_city}</li>
        <li><span style="font-weight:bold">Estudios:</span>{cv_degree}</li>
        <li><span style="font-weight:bold">Nivel de ingles:</span> {cv_english}</li>
        <li><span style="font-weight:bold">Como supiste de nosotros:</span> {cv_howto}</li>
        <li><span style="font-weight:bold">Disponibilidad:</span> {cv_availability}</li>
        <li><span style="font-weight:bold">Disponibilidad para viajar:</span> {cv_travel_disp}</li>
        <li><span style="font-weight:bold">Areas de trabajo:</span> {cv_job_area}</li>
        <li><span style="font-weight:bold">Otros Datos:</span> {cv_otherinfo}</li>
        <li><span style="font-weight:bold">Remuneracion pretendida:</span> {cv_salary}</li>
    </ul>
    <span style="text-decoration:underline">Por favor encuentre el curriculum vitae adjunto.</span>
    <br />
    <br />
        Este es un email generado automaticamente.
    <br />
    <br />
        Atentamente,
    <br />
        gA Jobs.
</div>