@{
    ViewBag.Title = "AboutGA";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ICOHome = "";
    ViewBag.ICOCV = "";
    ViewBag.ICOHacemos = "active";
    ViewBag.ICOWhere = "";
}

<style>
    .jumbotron {
        margin: 30px 0;
        text-align: center;
    }

        .jumbotron h1 {
            font-size: 80px;
            line-height: 1;
        }

    .accordion-toggle .img-circle {
        margin-top: 35px;
    }
</style>

<div class="jumbotron">
    <div class="img-rounded"><center><img src="~/Content/Images/Miscelaneous/AboutGA.jpg"></center></div>
    <h1>Qué hacemos.</h1>
</div>

<hr>

<div class="row-fluid">
    <div class="span5 offset1">
        <p>Brindamos servicios de consultoría, donde vas a ayudar a clientes a transformar sus procesos de negocios a través de diferentes tecnologías.</p>
        <p>Somos una empresa Latinoamericana en la cual más de 1200 personas, aportan sus ideas, pasión y talento en múltiples equipos y proyectos en Latinoamérica, USA, Europa y Asia.</p>
    </div>
    <div class="span5">
        <p>Tenemos oficinas en Argentina, Brasil, Chile, USA y México, desde allí brindamos servicios a grandes compañías como: Kraft, Bayer, Danone, Petrobras, Shell, LAN, Arcor, Electrolux, Claro, mejorando sus plataformas SAP y Oracle, para integrarlas con tecnologías de vanguardia.</p>
    </div>
</div>

<center>
            <ul id="myTab" class="nav nav-tabs">
                <li class="">
                    <a href="#TeContamos" data-toggle="tab">Te Contamos que es gA.</a>
                </li>
                <li class="">
                    <a href="#NuestraHistoria" data-toggle="tab">Nuestra Historia.</a>
                </li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="TeContamos">
                    <iframe class="youtube-player" typeof="text/html" height="460" width="460" src="http://www.youtube.com/v/bw-sjgq-nSI?fs=1&amp;hl=en_US&amp;rel=0" frameborder="0"></iframe>
                </div>

                <div class="tab-pane fade in" id="NuestraHistoria">
                    <video src="http://www.youtube.com/v/xzonIR194jo?fs=1&amp;hl=en_US&amp;rel=0" height="460" width="460" controls></video>
                </div>
            </div>
</center>




