@{
    ViewBag.Title = "AboutGA";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ICOHome = "";
    ViewBag.ICOCV = "";
    ViewBag.ICOHacemos = "active";
    ViewBag.ICOWhere = "";
}

<style>
    .jumbotron {
        margin: 30px 0;
        text-align: center;
    }

        .jumbotron h1 {
            font-size: 80px !important;
            line-height: 1;
        }

    .accordion-toggle .img-circle {
        margin-top: 35px;
    }
</style>

<div class="jumbotron">
    <div class="img-rounded"><center><img src="~/Content/Images/Miscelaneous/AboutGA.jpg"></center></div>
    <h1 class="text-head">@Resources.AboutGA_WhatDoWeDo</h1>
</div>

<hr>

<div class="row-fluid text-normal">
    <div class="span5 offset1">
        <p>@Resources.AboutGA_p1</p>
        <p>@Resources.AboutGA_p2</p>
    </div>
    <div class="span5">
        <p>@Resources.AboutGA_p3</p>
    </div>
</div>
<hr>





