@{
    ViewBag.Title = "AboutGA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .jumbotron {
        margin: 30px 0;
        text-align: center;
    }

    .jumbotron h1 {
        font-size: 80px;
        line-height: 1;
        }

    .jumbotron .img-rounded {

    }

</style>

<div class="jumbotron">
    <div class="img-rounded"><center><img src="~/Content/Images/AcercaGA.jpg"></center></div>
    <h1>Acerca de gA</h1>
</div>

<hr>

<div class="row-fluid">
    <div class="span5 offset1">
        <p><b>Somos Grupo ASSA, la firma latinoamericana líder en Digital Business Transformation.</b> Nos asociamos con compañías líderes globales para alcanzar sus aspiraciones de negocios en América Latina y en el mundo, y con empresas líderes latinoamericanas para satisfacer sus aspiraciones de negocios a nivel nacional y global. Con visión de futuro y alto compromiso, miramos hacia adelante y hacemos que las cosas pasen con todas las empresas con la que nos asociamos  – We look ahead, we get things done.</p>
        <p>Grupo ASSA fue creada en 1992 por un grupo de consultores con espíritu emprendedor, con la idea de crear plataformas de TI que pudieran transformar las empresas. Actualmente, Grupo ASSA sigue innovando con el modelo de <b>Digital Business Transformation (DBT).</b></p>
        <p>Nuestro enfoque DBT cambia no solo la tecnología subyacente, sino también la compañía y las personas que la utilizan, generando valor medible para las empresas. Nuestro modelo de gestión del “Ciclo de Vida Completo” de Transformación garantiza que se complete cada detalle, desde los más grandes y obvios hasta los más pequeños y muchas veces pasados por alto, desde estrategias, roadmaps y grandes proyectos de transformación, hasta modelos de gestión de mantenimiento y mejora continua de aplicativos.</p>
    </div>

    <div class="span5">
        <p>Somos socios regionales de SAP, Oracle y Microsoft y somos reconocidos como especialistas en la práctica de Oracle-JDEdwards a nivel mundial. Actualmente estamos desarrollando partnerships con las empresas líderes en las nuevas tecnologías digitales, tales como Jive, Saleforce.com, SuccessFactors entre otros. Somos especialistas en las industrias de bienes de consumo y manufactura, retail, recursos naturales y energía, banca y servicios financieros, y farmacéutica y servicios médicos.</p>
        <p>Porque somos una empresa del conocimiento, hemos desarrollado nuestra <b>Plataforma de Gestión del Conocimiento</b> y hemos creado comunidades virtuales que garantizan que el conocimiento se comparta en toda nuestra organización.
           Comenzamos como un grupo pequeño de 17 personas. Hoy ya somos 1400. Estamos comprometidos con nuestros empleados; por ello, los valoramos e invertimos en sus habilidades y su futuro</p>
        <p>La cultura y el enfoque únicos de Grupo ASSA provienen de aprovechar el talento y el conocimiento de las principales ciudades de América Latina, brindando un servicio de alta calidad para todo el mundo. Contamos con una plataforma integrada de <b>diez oficinas y Delivery Centers en América Latina.</b> Funcionan de manera independiente, pero también trabajan conjuntamente de forma inteligente y unificada para ofrecer el mejor servicio y seguridad al negocio.</p>
    </div>
</div>

<hr>

<center><h1>Contenidos Relacionados</h1></center>


<div class="accordion" id="accordion2">

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseGartner">
                <center>Gartner® 2014 – CoolVendor</center>
            </a>
        </div>
        <div id="collapseGartner" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>gA, la empresa latinoamericana líder en Transformación de Procesos de Negocio, fue reconocida por Gartner como Cool Vendor, por su propuesta Digital Business Transformation (dBT)</p>
                <p>El enfoque dBT de gA potencia a las compañías para aprovechar las oportunidades originadas en la economía digital y en nuevas tecnologías, administrando – simultáneamente- procesos, personas, tecnología y valor; transformando no sólo a la tecnología, sino también a las compañías y a las personas que la utilizan, generando valor mesurable y aumentando las ventajas competitivas.</p>
                <p>Roberto Wagmaister, CEO y fundador de gA explica: “Consideramos nuestro nombramiento como Cool Vendor como una reconfirmación de nuestra misión de apoyar a nuestros clientes a través de nuestro abordaje dBT, a alcanzar ventajas competitivas significativas. Estamos orgullosos de haber sido incluidos en el Cool Vendor 2014 Report”</p>
                <p><i><b>Disclaimer:</b> Gartner does not endorse any vendor, product or service depicted in our research publications, and does not advise technology users to select only those vendors with the highest ratings. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.</i></p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseASSA">
                <center>Grupo ASSA comparte su forma de ser y hacer las cosas en su primer Informe de Sustentabilidad</center>
            </a>
        </div>
        <div id="collapseASSA" class="accordion-body collapse">
            <div class="accordion-inner">
                <p><i>La compañía se compromete a lograr un impacto positivo y generar una relación sólida y sustentable con todos sus grupos de interés</i></p>
                <p>Buenos Aires, septiembre de 2013 – Grupo ASSA, compañía latinoamericana líder en transformación de negocios, publicó su primer Informe de Sustentabilidad donde comunica integralmente su enfoque de sustentabilidad y su desempeño global a nivel económico, social y medioambiental durante 2012.
                  Esta primera publicación forma parte de la política de transparencia de gA ante sus públicos de interés y se presenta como una herramienta central de gestión, planificación y comunicación, demandando un profundo trabajo de todas las áreas corporativas y regiones donde la compañía opera.
                  El informe se divide en 4 áreas estratégicas, Transparencia y Ética –gobierno corporativo y relación con clientes y proveedores-, Nuestra Comunidad –la educación como herramienta de transformación social-, Nuestra Gente –Employee Value Proposition-, y Medioambiente –Programa ASSA Green-.
                  Grupo ASSA cree fuertemente que el crecimiento sustentable depende de su desempeño económico, social y medioambiental. En este sentido, la empresa se compromete lograr un impacto positivo y generar una relación sólida y sustentable con todos sus grupos de interés para cumplir con sus expectativas agregando valor a sus propuestas</p>
                <p>Con cimientos en los valores corporativos de gA, -trabajo en equipo, compromiso, ética, profesionalismo, crecimiento sustentable y responsabilidad social- los programas buscan hacer un aporte a las comunidades donde trabaja, apostando a la educación y al conocimiento como elemento de transformación social y desarrollo equitativo. De esta manera, Grupo ASSA suma crecimiento sostenible a su modelo de empresa de conocimiento basado en la excelencia.</p>
                <p>Roberto Wagmaister -Fundador y CEO de Grupo ASSA- presenta este informe con un reconocimiento a los valores fundacionales de la compañía: “Hace 20 años fundamos Grupo ASSA. Ya por entonces teníamos la convicción de que para crear una empresa que nos trascendiera debíamos fundarla sobre sólidos valores”, y continúa “nos propusimos crear una gran compañía, que es bien distinto a una empresa grande. Una gran compañía es aquella donde su crecimiento es sustentable, por eso la sustentabilidad es para nosotros un modelo de gestión que nos define en nuestra forma de ser y hacer las cosas. Sabemos que todavía queda mucho por hacer y eso nos confirma que vamos por el buen camino y nos inspira a seguir trabajando.”</p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSAPHana">
                <center>SAP Hana al ritmo de tambores.</center>
            </a>
        </div>
        <div id="collapseSAPHana" class="accordion-body collapse">
            <div class="accordion-inner">
                <p><i>Nuevas tecnologías de hardware y software están habilitando procesos basados en altos volúmenes de información a gran velocidad, abriendo un espectro de oportunidades para analizar y tomar decisiones de negocios en segundos… ¿Pero se había imaginado que estas tecnologías llegarían a ser interpretados con música? ¡Esto es lo que hace el proyecto llamado Drums Analytics!</i></p>
                <p>Cuando escuchamos de SAP seguramente pensamos en un software de negocios que ayuda a eficientar la operación de las compañías. Cuando se menciona Hana pensamos en una nueva tecnología emergente basada en el concepto de Big Data, pero… ¿Alguna vez había pensado que ésta tecnología podría ser utilizada para evaluar actividades tan abstractas como la interpretación de un músico? Esto lo pensó un colaborador de la compañía latinoamericana líder en Digital Business Transformation (dBT), Grupo ASSA, como parte de un proyecto experimental para participar del SAP TechED Demo JAM, en las Vegas, Estados Unidos, evento dónde se convocan a socios, empleados y clientes de la firma Alemana SAP para participar de propuestas basadas en su tecnología.</p>
                <p><b>El comité de Demo Jam, eligió a Grupo ASSA junto con otros 4 competidores para competir frente el escenario en vivo durante el SAP Teched. </b>
                   La demo “Drums Analytics”, realizada por Felipe Chirinos, colaborador de gA, implementa una interfaz entre una batería electrónica y una instancia SAP HANA. De esta manera, la interpretación del baterista es almacenada en tiempo real en el sistema a medida que éste va tocando, lo que permite analizar variables como velocidad, patrones de ritmo y cantidad de golpes. El experimento está basado en SAP BusinessObjects Dashboards y SAP BusinessObjects Mobile lo que permite visualizar indicadores casi en tiempo real en una laptop o en dispositivos móviles</p>
                <p><i>“El mercado quiere saber cómo funciona HANA. Esta es una realidad que hemos visto de forma constante, ya que conceptualmente se entiende, pero en la realidad no queda claro cómo trabaja la herramienta. Y basada justamente en esta necesidad, es que surge la idea de ejemplificar de forma sencilla y entretenida cómo opera la tecnología y como se pueden lograr prototipos”</i> <b>mencionó Felipe Chirinos, Gerente Senior de Grupo ASSA.</b></p>
                <p><center><b>Proceso para seleccionar al ganador</b></center></p>
                <p>La creatividad es un elemento clave para protagonizar y ganar la competencia. Por supuesto que los conocimientos forman parte importante en el proceso de selección, pues en 6 minutos los aspirantes al premio podrán presentar su proyecto basado por lo menos en una tecnología de SAP.
                   La decisión será tomada el próximo martes 22 de octubre durante el SAP TechED por el jurado y la audiencia</p>
                <p><center><b>¿Qué es SAP TehED?</b></center></p>
                <p>Con más de 1.000 horas de capacitación en tecnología SAP, SAP TechED se ha posicionado como la principal conferencia de educación técnica para arquitectos, administradores y desarrolladores basados en Tecnología de la Información. Durante 4 días, los asistentes podrán mejorar sus habilidades asistiendo a talleres prácticos, conferencias y demostraciones sobre las últimas novedades en SAP HANA, SAP NetWeaver, SAP BusinessObjects Business Intelligence, así como ofertas basadas en Sybase y mucho más. Para mayor información sobre el SAP Teched, ingrese a http://www.sapteched.com/2013/usa/activities/demojam.htm y en twitter a través de #demojam</p>
            </div>
        </div>
    </div>
</div>

<hr>

<center><h1>Casos de Exito.</h1></center>

<div class="accordion" id="accordion1">

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseEmpresasComerciales">
                <div class="row-fluid">
                    <div class="span3 offset2">
                        <div class="img-circle"><center><img src="~/Content/Images/EmpresasComerciales.png"></center></div>
                    </div>
                    <div class="span6"><center>
                        <p><b>Cliente:</b> EMCO</p>
                        <p><b>Pais:</b> Mexico</p>
                        <p><b>Proyecto:</b> Roadmap</p>
                        <p><b>Practica:</b> Retail</p>
                        </center>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseEmpresasComerciales" class="accordion-body collapse">
            <div class="accordion-inner">
                <p><center><b>Crecer un 15% con operaciones más eficientes y planificadas.</b></center></p>
                <p>Empresas Comerciales (EMCO) es una importante compañía de retail subsidiaria del Grupo ADO, licenciataria de marcas comerciales como Domino’s Pizza, Cielito Querido Café, y Yogurtland entre otras.
                   EMCO se encontraba en pleno crecimiento y presentaba el desafío de reorganizar de manera eficiente las operaciones de la compañía, buscando aumentar el 15 por ciento de su ingreso y al mismo tiempo, afianzar las bases para un crecimiento sólido y planificado durante de los próximos cinco años.
                   Por tal motivo, decidieron realizar la homologación en sus procesos de negocio, basados en un profundo análisis que los ayudara a identificar las áreas de oportunidad que impactaban en sus procesos y los sistemas que pudieran representar un riesgo para el logro de las metas planteadas al no estar bien diseñados. El reto fue sumamente interesante por ser una empresa en crecimiento, con distintas y muy diferentes líneas de negocio.</p>
                <p><center><b>El Desafio.</b></center></p>
                <p>Transformar los procesos de Grupo EMCO, logrando una estandarización con las mejores prácticas de la industria de Retail y redefinición de acuerdo a la visión que la empresa tiene a futuro.</p>
                <p><center><b>We get things done.</b></center></p>
                <p>Grupo ASSA realizó la implementación de su metodología de Roadmap, realizando un análisis previo a los siguientes procesos de EMCO en todas sus líneas de negocio:
                    <center>
                        <li> Comercial.</li>
                        <li> Operaciones.</li>
                        <li> Arrendamientos.</li>
                        <li> Finanzas.</li>
                        <li> Compras.</li>
                        <li> Registros de información manual.</li>
                        <li> Retrabajos.</li>
                        <li> Cuellos de botella.</li>
                        <li> Carencias con su actual ERP y sistemas actuales.</li>
                    </center>
                    
                   Con la información obtenida, la experiencia de Grupo ASSA transformando los procesos de negocio y las mejores prácticas de la industria, se realizó la homologación de los procesos clave, la documentación de políticas para normar aspectos relevantes de los mismos y un roadmap de implementación de acciones para mitigar las áreas de oportunidad encontradas que soportarán el crecimiento de la organización durante los próximos cinco años.</p>
                <p><center><b>Beneficio Obtenidos</b></center></p>
                <p>
                    <center>
                        <li>Apoyar los objetivos estratégicos de EMCO.</li>
                        <li>Identificar áreas de oportunidad en los procesos actuales.</li>
                        <li>Estandarizar los procesos clave de operación entre negocios y regiones.</li>
                        <li>Contar con una documentación formal de los procesos.</li>
                        <li>Definir una arquitectura base.</li>
                        <li>Mejorar el aprovechamiento de los recursos tecnológicos alineados a los procesos.</li>
                        <li>Análisis y recomendación de alto nivel de ERP posibles para EMCO.</li>
                        <li>Facilitar el proceso de capacitación.</li>
                    </center>
                </p>
                <p><center><b>EMCO obtuvo la documentación de:</b></center></p>
                <p>
                    <center>
                        <li>6 macro procesos.</li>
                        <li>30 procesos y 122 subprocesos en el área comercial.</li>
                        <li>16 procesos y 33 subprocesos en el área de finanzas.</li>
                        <li>201 mapas de procesos.</li>
                    </center>
                </p>
                <p><center><b>Beneficio Obtenidos</b></center></p>
                <p>
                    <center>
                        <li>13 políticas comerciales y de operaciones.</li>
                        <li>11 políticas de finanzas.</li>
                        <li>Listado de políticas y procedimientos para Finanzas.</li>
                        <li>169 áreas de oportunidad claramente identificadas.</li>
                    </center>
                </p>
                <p><center><b>Próximos Pasos.</b></center></p>
                <p>Grupo ASSA realizará evaluaciones periódicas para calificar el avance de la organización en la implementación de las mejoras planteadas como resultado de este proyecto.</p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseMarisa">
                <div class="row-fluid">
                    <div class="span3 offset2">
                        <div class="img-circle"><center><img src="~/Content/Images/Marisa.jpg"></center></div>
                    </div>
                    <div class="span6">
                         <center>
                         <p><b>Cliente:</b> Marisa</p>
                         <p><b>Pais:</b> Brasil</p>
                         <p><b>Proyecto:</b> Transformación de Procesos de Negocio con Upgrade SAP ERP Retail 6.0, implementación de gestión comercial y MAP (Merchandising and Assortment Planning)</p>
                         <p><b>Practica:</b> SAP Services</p>
                         </center>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseMarisa" class="accordion-body collapse">
            <div class="accordion-inner">
                <p><center><b>La Empresa.</b></center></p>
                
                <p>Fundada en 1948, en São Paulo, Marisa es la mayor red de tiendas de moda para la mujer y lencería, así como una de las mayores redes de tiendas departamentales de vestimenta femenina, masculina e infantil de Brasil.
                Con más de 340 locales y 4 centros de distribución, Marisa comercializa, bajo su marca corporativa “Marisa” – además de otras marcas consagradas – una amplia variedad de productos de calidad, siguiendo las últimas tendencias de la moda, segmentados por estilo de vida y con una excelente relación costo-beneficio.</p>
                
                <p><center><b>La elección de Grupo ASSA.</b></center></p>
                <p>Marisa inició un importante proceso de transformaciones en su negocio con el fin de obtener mayor competitividad, y así perpetuar su posición destacada en el segmento minorista brasileño. Durante este período, realizó una serie de pruebas, con el objetivo de dotar a su área comercial de una herramienta tecnológica que adhiriera a los procesos de la compañía. Como usuaria de la plataforma SAP ERP, optó por incluir el módulo de gestión comercial y MAP (Merchandise and Assortment Planning) para imprimir así más capacidad analítica y eficiencia operacional a la compañía.
                Siguiendo esta visión, Grupo ASSA elaboró una propuesta que consideró, además de la tecnología a implementar, aspectos estratégicos de Marisa y de la industria del retail, entre ellos: la integración de los procesos de negocios, la agilidad en la toma de decisiones, la flexibilidad para la rápida adaptación a los cambios en el comportamiento del consumidor, entre otras cuestiones que afectan directamente la rentabilidad y la productividad de las operaciones de la empresa. Percibiendo la dimensión de la transformación y el impacto del proyecto en los procesos, Marisa escogió a Grupo ASSA como su socio de negocios tomando en cuenta la metodología, la calidad de los consultores y la comprobada experiencia en proyectos en el segmento minorista</p>
                
                <p><center><b>El objetivo</b></center></p>
                <p>Fuertemente estacional, en el segmento de la moda donde más del 70% de los productos son sustituidos en promedio cada 2 meses, y con alcance nacional, Marisa enfrenta el desafío constante de revisar y definir conceptos aparentemente simples como: qué vender, dónde venderlo y a qué precio.
                El proyecto de transformación de procesos con upgrade SAP ERP Retail 6.0 e implementación del módulo de gestión comercial y MAP – Merchandising and Assortment Planning – tuvo como finalidad ayudar a reducir la incertidumbre en sus negocios, permitiendo que Marisa pudiera responder, rápidamente, a las variaciones de la oferta y la demanda del mercado, alineando la planificación estratégica con la planificación de tiendas y el mix de productos.
                El proyecto de Transformación de procesos en Marisa tuvo como objetivos
                
                    <li>Integrar, optimizar y automatizar el proceso comercial, aumentando la capacidad analítica y eficiencia operacional:</li>
                    <li>Convertir la relación con el cliente en una ventaja competitiva, ya que con más agilidad y flexibilidad en los procesos la compañía responderá al mercado más rápidamente y ofreciendo los productos y volúmenes más adecuados a cada región de Brasil.</li>
                    <li>Imprimir agilidad y asertividad al proceso de toma de decisiones, apoyando los procesos de negociación con los proveedores y acompañando las tendencias del mercado y de la competencia.</li>
                    <li>Fortalecer la estructura de la compañía y la permanente expansión con rentabilidad, productividad y eficiencia operacional (utilizando la tecnología al servicio de la moda).</li></p>

                <p><center><b>El servicio</b></center></p>
                <p>El proyecto de transformación de procesos de negocios comprendió el upgrade SAP ERP para la versión SAP ERP Retail 6.0, realizando – paralelamente – la implementación del módulo de gestión comercial y MAP. Desde el punto de vista de la dirección del proyecto, también se instaló SAP Solution Manager, con sus funcionalidades de Gestión de proyectos, Service Desk y Solution Monitoring.
                El proyecto abarcó 220 tiendas y 4 centros de distribución con la ejecución de las siguientes actividades de parte de Grupo ASSA:</p>
                
                    <li>Gestión del proyecto.</li>
                    <li>Administración de riesgos.</li>
                    <li>Garantía de calidad.</li>
                    <li>Implementación de SAP Retail.</li>
                    <li>Implementación de SAP MAP (Merchandising and Assortment Planning).</li>
                    <li>Upgrade técnico de los módulos FI, CO, MM, WMS/TMS, CML y TRM.</li>
                    <li>Capacitación de los usuarios.</li>
                    <li>Administración Basis (near shore & offshore).</li>
                    <li>Soporte postimplementación.</li>
                
                <p><center><b>Beneficios alcanzados.</b></center></p>
                <p> <li>Actualización de la plataforma tecnológica.</li>
                    <li>Confiabilidad en la información para soporte de operaciones.</li>
                    <li>Agilidad, flexibilidad y conformidad de los procesos.</li>
                    <li>Agilidad en la toma de decisiones.</li>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseWALMART">
                <div class="row-fluid">
                    <div class="span3 offset2">
                        <div class="img-circle"><center><img src="~/Content/Images/WalMart.jpg"></center></div>
                    </div>
                    <div class="span6">
                        <center>
                            <p><b>Cliente:</b> Wal Mart</p>
                            <p><b>Pais:</b> Sur</p>
                            <p><b>Proyecto:</b> Mejora de procesos a través de la implementación de Oracle</p>
                            <p><b>Practica:</b> Oracle - JDE</p>
                        </center>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseWALMART" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>Wal Mart Argentina necesitaba modelizar y sistematizar sus procesos de Compras & Construcciones por no estar integrados al control de gestión. Gracias al cumplimiento de los objetivos planteados, hoy la compañía cuenta con una herramienta eficaz que permite la medición de los principales parámetros de estos procesos. El modelo de Compras & Construcciones creado en Wal Mart Argentina fue presentado a otras filiales de Wal Mart , y tomado como Business Case para su replicación.
                   Fernando Di Silvestro, Business Analyst de Wal Mart Argentina expresó: “El éxito de la implementación de este nuevo proyecto se debió en gran medida al haber constituido un grupo de trabajo sinérgico y sincronizado entre todas las partes intervinientes,, pudiendo hoy Wal Mart optimizar el control de las compras anuales no comerciales de pesos con información muy detallada.”</p>
                
                <p><b>La Empresa.</b></p>
                <p>Wal Mart fue fundada en 1962 por Sam Walton, como un emprendimiento personal junto a su esposa, siendo en esa época una pequeña cadena de ramos generales que padecía la competencia de las cadenas de descuentos regionales en los estados de Arkansas y Kansas. Viajando por todo el país con el objetivo de desarrollar nuevos y radicales conceptos de retail, apostó fuertemente a la visión que el consumidor americano estaba yendo hacia un nuevo tipo de supermercadismo. Hoy el emprendimiento de San Walton – Wal Mart – es una compañía global que emplea a 1.6 millones de asociados mundialmente y 5500 tiendas en 11 países. El “retailer más admirado” según la revista FORTUNE acaba de completar unos de los mejores años de su historia.</p>

                <p><b>Objetivo del Negocio.</b></p>
                <p>Wal Mart Argentina necesitaba modelizar y sistematizar sus procesos de Compras & Construcciones por no estar integrados al control de gestión.</p>

                <p><b>El Proyecto, La Solucion.</b></p>
                <p>Wal Mart Argentina necesitaba una solución que sistematizara las operaciones de Compras no comerciales y Construcciones para las Tiendas, el Centro de Distribución y Home Office, integrando estos procesos al modelo de Finanzas implementado en fases anteriores por Grupo ASSA. El proyecto de Compras & Construcciones en Wal Mart Argentina abarcó la creación de modelo, diagramación de circuitos e implementación de PeopleSoft a través de las siguientes tareas:
                
                    <center>
                        <li>Workshops de relevamiento, en los cuales se delimitó el alcance global funcional, geográfico y técnico del proyecto a principios del año 2004.</li>
                        <li>Presentación del Business Case al departamento de IT de casa matriz en Estados Unidos con el fin de conseguir la aprobación del proyecto y la generación de este “modelo de solución” para replicar en otras filiales como Brasil.</li>
                        <li>Relevamiento detallado de los Procesos de Compras no comerciales (insumos, servicios, activos fijos, marketing, mantenimiento) buscando optimizarlos considerando la implementación de Tecnología.</li>
                        <li>Generación del modelo funcional de Compras y Construcciones.</li>
                        <li>Implementación de los sistemas PeopleSoft WorldSoftware versión 8.1</li>
                    </center>
                
                    El equipo de trabajo estuvo integrado por consultores de Grupo ASSA y personal de Sistemas, Planeamiento de Tiendas y Construcciones de Wal Mart Argentina.</p>

                <p><b>Los Beneficios.</b></p>
                <p>Luego de este proyecto Wal Mart Argentina obtuvo los siguientes beneficios:
                <center>
                    <li>Reducción de tiempos y costos de gestión de compras a través de la estandarización de procesos y automatización de tareas.</li>
                    <li>Mejora de tiempos de análisis y aprobaciones de proyectos.</li>
                    <li>Mejora en el control de las operaciones a través de la integridad de la información de Finanzas.</li>
                    <li>Trazabilidad de las operaciones a través de información de auditoria.</li>
                    <li>Control presupuestario en línea, pudiendo anticipar desvíos y responsables por centros de costos.</li>
                    <li>Mejora de los controles de avance de obra, y los distintos tipos de gastos de mantenimiento (preventivo, correctivos) identificando anticipadamente desvíos presupuestarios.</li>
                </center></p>

                <p><i>“El éxito de la implementación de este nuevo proyecto se debió en gran medida al haber constituido un grupo de trabajo sinérgico y sincronizado entre todas las partes intervinientes,, pudiendo hoy Wal Mart optimizar el control de las compras anuales no comerciales de pesos con información muy detallada.”</i> - <b>Fernando Di Silvestro, Business Analyst de Wal Mart Argentina.</b></p>
                <p><i>“Wal Mart Argentina necesitaba modelizar y sistematizar sus procesos de Compras & Construcciones por no estar integrados al control de gestión. Gracias al cumplimiento de los objetivos planteados, hoy la compañía cuenta con una herramienta eficaz que permite la medición de los principales parámetros de estos procesos. El modelo de Compras & Construcciones creado fue presentado a otras filiales de Wal Mart, y tomado como Business Case para su replicación.”</i> - <b>Juan O’Toole , Lider de Proyecto de Grupo ASSA</b></p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapsePromon">
                <div class="row-fluid">
                    <div class="span3 offset2">
                        <div class="img-circle"><center><img src="~/Content/Images/Promon.jpg"></center></div>
                    </div>    
                    <div class="span6">
                        <center>
                            <p><b>Cliente:</b> Promon</p>
                            <p><b>Pais:</b> Brasil</p>
                            <p><b>Proyecto:</b> AMS - Application Management Services - SAP ECC 6.0</p>
                            <p><b>Practica:</b> Servicios SAP</p>
                        </center>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapsePromon" class="accordion-body collapse">
            <div class="accordion-inner">
               <p><b>La Empresa.</b></p>
                <p>Promon es una empresa brasilera que desde 1960 desarrolla proyectos de infraestructura para los sectores claves de la economía tales como: energía eléctrica, oil & gas, industrias de proceso; minería, química, metalúrgica, petroquímica y obras civiles.
                   Su portfolio de negocios se compone de proyectos de infraestructura; incluyendo refinerías de petróleo, plantas petroquímicas, terminales marítimos, usinas generadoras de energía hidroeléctrica, termoeléctrica y nuclear, sistemas de transmisión de energía, plantas siderúrgicas y de minería, industria automotriz y aeronáutica, edificaciones comerciales, además de grandes proyectos de transportes, como trenes.</p>

                <p><b>Introduccion:</b></p>
                <p>En el año 2008 el modelo de gestión utilizado por Promon tuvo que enfrentar desafíos estratégicos de crecimiento, internacionalización y flexibilidad para mantenerse en sincronía con la evolución del escenario global. El proyecto SIGNO (Sistema de Información para la Gestión de Negocios y Operaciones) fue el primer paso de esta evolución en el ambiente tecnológico a través del cual se realizó la implementación de la plataforma de gestión SAP ECC 6.0</p>

                <p><b>El Objetivo:</b></p>
                <p>Una vez implementada la plataforma SAP ECC 6.0., Promon necesitaba estabilizar su nueva plataforma e iniciar los ciclos de mejora de su ERP que permitiesen el continúo crecimiento de sus negocios con un soporte tecnológico eficiente.
                   En este escenario, el servicio de AMS de Grupo ASSA contratado por Promon tuvo como objetivo principal el gerenciamiento y mantenimiento del aplicativo SAP ECC 6.0 para todas las unidades de negocio de Promon, por un período de 3 años, buscando la estabilización y la ejecución de las mejoras</p>

                <p><b>El Proyecto:</b></p>
                <p>El Application Management Services (AMS) de Grupo ASSA en Promon engloba los servicios de AMS Funcional Correctivo para SAP ECC 6.0 en los módulos
                <center>
                    <li>FI Contabilidad Financiera.</li>
                    <li>CO Contabilidad.</li>
                    <li>FI-AA Gestión de Activos Fijos.</li>
                    <li>FI-TV Viajes.</li>
                    <li>ECCS Consolidación.</li>
                    <li>MM Gestión de Suministros.</li>
                    <li>SD Ventas y Distribución.</li>
                    <li>PP Planeamiento de Producción.</li>
                    <li>PS Gestión de Proyectos.</li>
                    <li>QM Gestão de Cualidades.</li>
                    <li>WF Work Flow.</li>
                </center>
                    AMS Básico Correctivo y Evolutivo para la seguridad de acceso, Desarrollo de Mejorías en soluciones tecnológicas (ABAP y Netweaver XI) y AMS Funcional y Básico Evolutivo sobre demanda.
                    El modelo ofrecido por Grupo ASSA y adoptado en Promon estuvo compuesto por acuerdos de niveles de servicio (SLAs) que garantizaron el soporte y la corrección de problemas dentro de plazos pre-acordados con precios fijos, independientemente del volumen de demanda de los servicios. Este modelo, aseguró la visibilidad de los costos de soporte en un escenario cuya demanda de soporte no puede ser controlada. Promon tiene así, un ciclo virtuoso en el cual Grupo ASSA siempre estará comprometido con las mejorías y la estabilidad de la plataforma SAP ECC 6.0 de Promon</p>

                <p><b>Beneficios Obtenidos.</b></p>
                <p>Después de un año de prestación de servicio de outsourcing de Grupo ASSA, Promon ya cuenta con un ambiente tecnológico suficientemente estable como para permitir que se pueda dedicar toda la atención a sus principales proyectos.
                   Los principales resultados del primer servicio fueron</p>
                <p><center>
                       <li>Más de 4200 incidentes correctivos solucionados durante 12 meses con costos fijos mensuales.</li>
                       <li>Más de 170 iniciativas de mejora desarrolladas.</li>
                       <li>Disponibilidad de informaciones de niveles de servicio para mejorar continuamente los mismos.</li>
                       <li>Servicios pro-activos e iniciativas de formación para estabilizar el medio ambiente.</li>
                       <li>Mejoría de la gestión de perfiles de seguridad con la implementación de Security Map.</li>
                       <li>Continuidad de las operaciones sin disrupciones.</li>
                    </center></p>

                <p><i>“Tener a Promon como cliente es un gran honor no solo por lo que eso representa en el mercado de ingeniería sino también por su reputación en cuanto a calidad y profesionalismo. Estas características son factores que nos aproximan y que al mismo tiempo aumentan nuestras responsabilidades para estar a la altura de nuestro cliente. La estabilización de Promon demandó mucho, ya que trabajamos con ellos desde el punto de partida para introducir e implementar mejorías y adaptar su plataforma tecnológica a las necesidades de su negocio”,</i> comento - <b>Paulo E. Brugugnoli, director de Grupo ASSA</b></p>

                <p><i>“La flexibilidad y diferenciación del modelo de servicios AMS prestado por Grupo ASSA ha garantizado a Promon el entendimiento de nuestras necesidades y ha contribuido para la estabilización de la plataforma SAP ECC 6.0 y la implementación de mejoras evolutivas”</i> - <b>Rubens Rodrigues Filho, Gerente de Aplicaciones ERP de Promon.</b></p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseAstraZeneca">
                <div class="row-fluid">
                    <div class="span3 offset2">
                        <div class="img-circle"><center><img src="~/Content/Images/AstraZeneca.png"></center></div>
                    </div>
                    <div class="span6">
                        <center>
                            <p><b>Cliente:</b> AstraZeneca</p>
                            <p><b>Pais:</b> Mexico</p>
                            <p><b>Proyecto:</b> Desarrollo de una aplicación de Microsoft - NET 2.0 aplicación para la captura de las órdenes de venta que utilizan dispositivos móviles</p>
                            <p><b>Practica:</b> ITS (Integración y Servicios de Tecnología)</p>
                        </center>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseAstraZeneca" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>gA, la empresa latinoamericana líder en Transformación de Procesos de Negocio, fue reconocida por Gartner como Cool Vendor, por su propuesta Digital Business Transformation (dBT)</p>
                <p>El enfoque dBT de gA potencia a las compañías para aprovechar las oportunidades originadas en la economía digital y en nuevas tecnologías, administrando – simultáneamente- procesos, personas, tecnología y valor; transformando no sólo a la tecnología, sino también a las compañías y a las personas que la utilizan, generando valor mesurable y aumentando las ventajas competitivas.</p>
                <p>Roberto Wagmaister, CEO y fundador de gA explica: “Consideramos nuestro nombramiento como Cool Vendor como una reconfirmación de nuestra misión de apoyar a nuestros clientes a través de nuestro abordaje dBT, a alcanzar ventajas competitivas significativas. Estamos orgullosos de haber sido incluidos en el Cool Vendor 2014 Report”</p>
                <p><i><b>Disclaimer:</b> Gartner does not endorse any vendor, product or service depicted in our research publications, and does not advise technology users to select only those vendors with the highest ratings. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.</i></p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseAmcor">
                <div class="row-fluid">
                    <div class="span3 offset2">
                        <div class="img-circle"><center><img src="~/Content/Images/Amcor.jpg"></center></div>
                    </div>
                    <div class="span6">
                        <center>
                            <p><b>Cliente:</b> Amcor</p>
                            <p><b>Pais:</b> Argentina y Latinoamerica</p>
                            <p><b>Proyecto:</b>  Implementar SAP 4.6C y la Dirección APRISO Materiales, Gestión de almacén, envío y módulo de administración de pedidos</p>
                            <p><b>Practica:</b> SAP + BPM + Change Management</p>
                        </center>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseAmcor" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>gA, la empresa latinoamericana líder en Transformación de Procesos de Negocio, fue reconocida por Gartner como Cool Vendor, por su propuesta Digital Business Transformation (dBT)</p>
                <p>El enfoque dBT de gA potencia a las compañías para aprovechar las oportunidades originadas en la economía digital y en nuevas tecnologías, administrando – simultáneamente- procesos, personas, tecnología y valor; transformando no sólo a la tecnología, sino también a las compañías y a las personas que la utilizan, generando valor mesurable y aumentando las ventajas competitivas.</p>
                <p>Roberto Wagmaister, CEO y fundador de gA explica: “Consideramos nuestro nombramiento como Cool Vendor como una reconfirmación de nuestra misión de apoyar a nuestros clientes a través de nuestro abordaje dBT, a alcanzar ventajas competitivas significativas. Estamos orgullosos de haber sido incluidos en el Cool Vendor 2014 Report”</p>
                <p><i><b>Disclaimer:</b> Gartner does not endorse any vendor, product or service depicted in our research publications, and does not advise technology users to select only those vendors with the highest ratings. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.</i></p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTelhaNorte">
                <div class="row-fluid">
                    <div class="span3 offset2">
                        <div class="img-circle"><center><img src="~/Content/Images/TelhaNorte.jpg"></center></div>
                    </div>
                    <div class="span6">
                        <center>
                            <p><b>Cliente:</b> Telhanorte</p>
                            <p><b>Pais:</b> Brasil</p>
                            <p><b>Proyecto:</b>  Proceso de revisión y definición de componentes (BPM), relacionado tanto con las ventas y el área de logística y para el área de planificación, junto con la división financiera</p>
                            <p><b>Practica:</b> Implementación de SAP ERP</p>
                        </center>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseTelhaNorte" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>gA, la empresa latinoamericana líder en Transformación de Procesos de Negocio, fue reconocida por Gartner como Cool Vendor, por su propuesta Digital Business Transformation (dBT)</p>
                <p>El enfoque dBT de gA potencia a las compañías para aprovechar las oportunidades originadas en la economía digital y en nuevas tecnologías, administrando – simultáneamente- procesos, personas, tecnología y valor; transformando no sólo a la tecnología, sino también a las compañías y a las personas que la utilizan, generando valor mesurable y aumentando las ventajas competitivas.</p>
                <p>Roberto Wagmaister, CEO y fundador de gA explica: “Consideramos nuestro nombramiento como Cool Vendor como una reconfirmación de nuestra misión de apoyar a nuestros clientes a través de nuestro abordaje dBT, a alcanzar ventajas competitivas significativas. Estamos orgullosos de haber sido incluidos en el Cool Vendor 2014 Report”</p>
                <p><i><b>Disclaimer:</b> Gartner does not endorse any vendor, product or service depicted in our research publications, and does not advise technology users to select only those vendors with the highest ratings. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.</i></p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseWeatherford">
                <div class="row-fluid">
                    <div class="span3 offset2">
                        <div class="img-circle"><center><img src="~/Content/Images/WeatherFord.jpg"></center></div>
                    </div>
                    <div class="span6">
                        <center>
                            <p><b>Cliente:</b> Weatherford</p>
                            <p><b>Pais:</b> America Latina</p>
                            <p><b>Proyecto:</b> México JDE Implementación</p>
                            <p><b>Practica:</b> Recursos Naturales y Química</p>
                        </center>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseWeatherford" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>gA, la empresa latinoamericana líder en Transformación de Procesos de Negocio, fue reconocida por Gartner como Cool Vendor, por su propuesta Digital Business Transformation (dBT)</p>
                <p>El enfoque dBT de gA potencia a las compañías para aprovechar las oportunidades originadas en la economía digital y en nuevas tecnologías, administrando – simultáneamente- procesos, personas, tecnología y valor; transformando no sólo a la tecnología, sino también a las compañías y a las personas que la utilizan, generando valor mesurable y aumentando las ventajas competitivas.</p>
                <p>Roberto Wagmaister, CEO y fundador de gA explica: “Consideramos nuestro nombramiento como Cool Vendor como una reconfirmación de nuestra misión de apoyar a nuestros clientes a través de nuestro abordaje dBT, a alcanzar ventajas competitivas significativas. Estamos orgullosos de haber sido incluidos en el Cool Vendor 2014 Report”</p>
                <p><i><b>Disclaimer:</b> Gartner does not endorse any vendor, product or service depicted in our research publications, and does not advise technology users to select only those vendors with the highest ratings. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.</i></p>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOfficeMax">
                <div class="row-fluid">
                    <div class="span3 offset2">
                        <div class="img-circle"><center><img src="~/Content/Images/OfficeMax.jpg"></center></div>
                    </div>
                    <div class="span6">
                        <center>
                            <p><b>Cliente:</b> OfficeMax</p>
                            <p><b>Pais:</b> Mexico</p>
                            <p><b>Proyecto:</b> Desarrollo de Portal de Proveedores</p>
                            <p><b>Practica:</b> ITS (Integración y Servicios de Tecnología)</p>
                        </center>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseOfficeMax" class="accordion-body collapse">
            <div class="accordion-inner">
                <p>gA, la empresa latinoamericana líder en Transformación de Procesos de Negocio, fue reconocida por Gartner como Cool Vendor, por su propuesta Digital Business Transformation (dBT)</p>
                <p>El enfoque dBT de gA potencia a las compañías para aprovechar las oportunidades originadas en la economía digital y en nuevas tecnologías, administrando – simultáneamente- procesos, personas, tecnología y valor; transformando no sólo a la tecnología, sino también a las compañías y a las personas que la utilizan, generando valor mesurable y aumentando las ventajas competitivas.</p>
                <p>Roberto Wagmaister, CEO y fundador de gA explica: “Consideramos nuestro nombramiento como Cool Vendor como una reconfirmación de nuestra misión de apoyar a nuestros clientes a través de nuestro abordaje dBT, a alcanzar ventajas competitivas significativas. Estamos orgullosos de haber sido incluidos en el Cool Vendor 2014 Report”</p>
                <p><i><b>Disclaimer:</b> Gartner does not endorse any vendor, product or service depicted in our research publications, and does not advise technology users to select only those vendors with the highest ratings. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.</i></p>
            </div>
        </div>
    </div>

</div>
