@{
    ViewBag.Title = "Grupo ASSA";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ICOHome = "active";
    ViewBag.ICOCV = "";
    ViewBag.ICOHacemos = "";
}

<style>

    .jumbotron {
        margin: 80px 0;
        text-align: center;
    }

    .jumbotron h1 {
            font-size: 80px;
            line-height: 1;
        }

    .jumbotron .lead {
            font-size: 18px;
            line-height: 1;
        }

    .row-fluid .span8 {
            margin-top: 100px;
            margin-bottom: 80px;
    }

</style>


<hr>

<div class="jumbotron">
    <h1>gA Multinacional</h1>
    <p class="lead">Contamos con oficinas en multiples paises como Argentina, Brasil, Mexico, Chile, USA y Europa desde donde brindamos servicios de calidad para importantes clientes en todo el mundo</p>
</div>

<hr>

<div class="row-fluid">
    <div class="span4">
        <center><div class="img-circle"><img src="~/Content/Images/Argentina-Circle.png" alt=""></div></center>
        <center><h2>Argentina.</h2></center>
    </div>

    <div class="span8">
        <center><p><b><u>Direccion:</u></b> Lima 241</p></center>
        <center><p><b><u>Telefono de Contacto:</u></b> +54 11 4510 7200</p></center>
        <center><p><b><u>Email de Contacto:</u></b> marketing@grupoassa.com</p></center>
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="span4">
        <center><div class="img-circle"><img src="~/Content/Images/USA-Circle.jpg" alt=""></div></center>
        <center><h2>Estados Unidos.</h2></center>
    </div>

    <div class="span8">
        <center><p><b><u>Direccion:</u></b> 10100 NW 116 Way Suite 11 Medley</p></center>
        <center><p><b><u>Telefono de Contacto:</u></b> 001 786 206 480</p></center>
        <center><p><b><u>Email de Contacto:</u></b> marketingusa@grupoassa.com</p></center>
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="span4">
        <center><div class="img-circle"><img src="~/Content/Images/Mexico-Circle.jpg" alt=""></div></center>
        <center><h2>Mexico</h2></center>
    </div>

    <div class="span8">
        <center><p><b><u>Direccion:</u></b> Paseo de los Tamarindos 100 - 4º Piso - Colonia Bosques de las Lomas</p></center>
        <center><p><b><u>Telefono de Contacto:</u></b> 52 55 9157 8700</p></center>
        <center><p><b><u>Email de Contacto:</u></b> marketingmx@grupoassa.com</p></center>
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="span4">
        <center><div class="img-circle"><img src="~/Content/Images/Brazil-Circle.png" alt=""></div></center>
        <center><h2>Brasil.</h2></center>
    </div>

    <div class="span8">
        <center><p><b><u>Direccion:</u></b> Condominio Edificio Aron Birmann - Alexandre Dumas, 2200 - 4º Piso</p></center>
        <center><p><b><u>Telefono de Contacto:</u></b> 55 11 5508 0900</p></center>
        <center><p><b><u>Email de Contacto:</u></b> marketingbr@grupoassa.com</p></center>
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="span4">
        <center><div class="img-circle"><img src="~/Content/Images/Chile-Circle.jpg" alt=""></div></center>
        <center><h2>Chile.</h2></center>
    </div>

    <div class="span8">
        <center><p><b><u>Direccion:</u></b> Av. Vitacura 2939, Piso 10, Edificio Millenium</p></center>
        <center><p><b><u>Telefono de Contacto:</u></b> 56 2 431 5041</p></center>
        <center><p><b><u>Email de Contacto:</u></b> marketingd@grupoassa.com</p></center>
    </div>
</div>

