@{
    ViewBag.Title = "Grupo ASSA";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ICOHome = "active";
    ViewBag.ICOCV = "";
    ViewBag.ICOHacemos = "";
}
<style>
    /* Main marketing message and sign up button */
    .jumbotron {
        margin: 80px 0;
        text-align: center;
    }

<<<<<<< HEAD
 <!-- Jumbotron -->
<div class="jumbotron">
    <h1>Empleos gA</h1>
    <p class="lead"></p>
    <a class="btn btn-large btn-success" href="#">Get started today</a>
=======
        .jumbotron h1 {
            font-size: 100px;
            line-height: 1;
        }

        .jumbotron .lead {
            font-size: 20px;
            line-height: 1;
        }

        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }
</style>

<div class="jumbotron">
    <h1>Empleos gA</h1>
    <p class="lead">Podes formar parte de de algo grande.</p>
    <p class="lead">Sumate a gA!</p>
    <a class="btn btn-large btn-success" href="http://empleos.grupoassa.com/empleos/busquedas_activas/">Ver busquedas activas.</a>
>>>>>>> 4ecbfd5b87a56e3521b0dbfdeec4a2f8dbea3d54
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
<<<<<<< HEAD
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
=======
        <h2>Como trabajamos.</h2>
        <p>El objetivo de Grupo ASSA es crear equipos de trabajo con colaboradores capacitados, cuya gestión de relaciones y perfiles personales sean un valor diferencial. Sumate a Grupo ASSA! </p>
        <p><a class="btn" href="http://empleos.grupoassa.com/empleos/como_trabajamos/">Read More! &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Que ofrecemos.</h2>
        <p>Grupo ASSA te ofrece las oportunidades y los desafíos que necesitás, porque reconocemos que el valor de los servicios de Grupo ASSA radican especialmente en nuestra gente. Conocelos!</p>
        <p><a class="btn" href="http://empleos.grupoassa.com/empleos/que_ofrecemos/">Read More! &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Que hacemos.</h2>
        <p>Brindamos servicios de consultoría, donde vas a ayudar a clientes a transformar sus procesos de negocios a través de diferentes tecnologías. </p>
        <p>Somos una empresa Latinoamericana en la cual más de 1200 personas, aportan sus ideas, pasión y talento en múltiples equipos y proyectos en Latinoamérica, USA, Europa y Asia. </p>
        <p><a class="btn" href="http://empleos.grupoassa.com/empleos/que_hacemos/">Read More! &raquo;</a></p>
>>>>>>> 4ecbfd5b87a56e3521b0dbfdeec4a2f8dbea3d54
    </div>
</div>

