@{
    ViewBag.Title = "Grupo ASSA";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ICOHome = "active";
    ViewBag.ICOCV = "";
    ViewBag.ICOHacemos = "";
}
<style>
    /* Main marketing message and sign up button */
    .jumbotron {
        margin: 20px 0;
        text-align: center;
    }

    .jumbotron h1 {
            font-size: 80px;
            line-height: 1;
        }

    .jumbotron .lead {
            font-size: 18px;
            line-height: 1;
        }

    .jumbotron .btn {
            font-size: 18px;
            padding: 14px 24px;
        }
</style>

<div class="jumbotron">
    <h1>Empleos gA</h1>
    <p class="lead">Podes formar parte de algo grande.</p>
    <p class="lead">Sumate a gA!</p>
    <a class="btn btn-large btn-success" href="@Url.Action("Form","Upload")">Carga tu CV!</a>
</div>

<hr>

<div class="img-rounded"><center><img src="~/Content/Images/Miscelaneous/Innovation_Final.jpg"></center></div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <center><h2>Que hacemos.</h2></center>
        <p>Brindamos servicios de consultoría, donde vas a ayudar a clientes a transformar sus procesos de negocios a través de diferentes tecnologías. </p>
        <p>Somos una empresa Latinoamericana en la cual más de 1200 personas, aportan sus ideas, pasión y talento en múltiples equipos y proyectos en Latinoamérica, USA, Europa y Asia. </p>
        <center><p><a class="btn" href="http://empleos.grupoassa.com/empleos/que_hacemos/">Leer Mas!  &raquo;</a></p></center>
    </div>

    
    <div class="span4">
        <center><h2>Por que trabajar en gA.</h2></center>
        <p>Aca iria el contenido generado por HC ... mientras tanto lo lleno con palabras vacias, sin contenido intelectual y, como agregado, poco sentido.</p>
        <p>Que les parece? Pareciera que soy bastante bueno para esto no? :O</p>
        <center><p><a class="btn" href="FuturoLinkANuevaVista XD">Leer Mas! &raquo;</a></p></center>
    </div>


    <div class="span4">
        <center><h2>Carga tu CV.</h2></center>
        <p>Grupo ASSA explora permanentemente el mercado laboral para incorporar nuevos talentos a equipos de profesionales y busca personas para trabajar en equipos multidisciplinarios que interactúan directamente con los clientes.</p>
        <center><p><a class="btn" href="~/Views/Upload/form.cshtml">Sumate a gA! &raquo;</a></p></center>
    </div>
</div>

<hr>

